POSTGRES_DB=hwdemo
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_PORT=5432
WEBAPP_PORT=8080
CLIENT_PORT=8081
PUBLIC_API_URL=http://localhost:8080
ASPNETCORE_ENVIRONMENT=Development
DATAINIT_DROP_DATABASE=false
DATAINIT_MIGRATE_DATABASE=true
DATAINIT_SEED_IDENTITY=true
DATAINIT_SEED_DATA=true
JWT__Key=some_secret_password_dont_share.at.iausdhviushviusdhuisdhgiusdfhliuhdiufvhidufvhidufhviudsfh
JWT__Issuer=itcollege.taltech.ee
JWT__Audience=itcollege.taltech.ee
LangStrDefaultCulture=en
CORS_ALLOWED_ORIGIN_0=http://localhost:8081
