COMPOSE_PROJECT_NAME=ansiin-investing
POSTGRES_DB=investingtracker
POSTGRES_USER=investingtracker
POSTGRES_PASSWORD=change-me
WEBAPP_PORT=82
CLIENT_PORT=83
ASPNETCORE_ENVIRONMENT=Production
USE_HTTPS_REDIRECTION=false
PATH_BASE=
DATAINIT_DROP_DATABASE=false
DATAINIT_MIGRATE_DATABASE=true
DATAINIT_SEED_IDENTITY=true
DATAINIT_SEED_DATA=true
JWT__Key=change-me-please
JWT__Issuer=itcollege.taltech.ee
JWT__Audience=itcollege.taltech.ee
LangStrDefaultCulture=en
PUBLIC_API_URL=https://ansiin-investing-api.proxy.itcollege.ee
CORS_ALLOWED_ORIGIN_0=https://ansiin-investing.proxy.itcollege.ee
CORS_ALLOWED_ORIGIN_1=http://192.168.181.136:83
